includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app
        - routes
        - tests

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
#        - '#Undefined variable: \$this#'
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false